body {
    font-family: Comic Sans MS;
    background-color: darkgrey;
    
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
   li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #04AA6D;
    }
  
    img {
      height: 16px;
      width: 16px;
    }
  
    footer {
      text-align: center;
      padding: 14px;
      background-color:  grey;
      color: white;
      position: fixed;
      bottom: 0px;
      width: 97%;
    }

textarea {
    margin-top: 5px;
}

#btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

form{
    width: 98%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
