body {
    font-family: Comic Sans MS;
    background-color: darkgrey;
    
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #04AA6D;
    }
  
    img {
      height: 16px;
      width: 16px;
    }
  
    footer {
      text-align: center;
      padding: 14px;
      background-color:  grey;
      color: white;
      bottom: 0px;
      width: 97%;
    }

    .forecast {
        margin: 3px;
        padding: 0.3rem;
        background-color: #eee;
      }
      
      .forecast > h1,
      .day-forecast {
        margin: 0.5rem;
        padding: 0.3rem;
        font-size: 1.2rem;
      }
      
      .day-forecast {
        background: right/contain content-box border-box no-repeat url('/media/examples/rain.svg') white;
      }
      
      .day-forecast > h2,
      .day-forecast > p {
        margin: 0.2rem;
        font-size: 1rem;
      }
      
      #searchbar{ 
        margin-left: 15%; 
        padding:15px; 
        border-radius: 10px; 
      } 
    
      input[type=text] { 
         width: 30%; 
         -webkit-transition: width 0.15s ease-in-out; 
         transition: width 0.15s ease-in-out; 
      } 
    
      /* When the input field gets focus, 
           change its width to 100% */
      input[type=text]:focus { 
        width: 30%; 
      } 
    
     #list{ 
       font-size:  1.5em; 
       margin-left: 90px; 
      } 
    
   .animals{ 
      display: list-item;     
     }  

     button {
      text-decoration: none;
     }