body {
    font-family: Comic Sans MS;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  img {
    height: 16px;
    width: 16px;
  }

  footer {
    text-align: center;
    padding: 14px;
    background-color:  grey;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 97%;
  }